hr
footer
  p
    | Made with <span class="glyphicon glyphicon-heart heart" aria-hidden='true'></span>
    | by 
    a(href='http://github.com/P3trur0', target='_blank') P3trur0
    |  for 
    a(href='http://www.meetup.com/it-IT/Treviso-Scala-Group/', target='_blank') Treviso Scala Meetup
    | , Planet Earth - 2016
