// Placed at the end of the document so the pages load faster
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script.
  window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\\/script>')
script(src='js/bootstrap.min.js')
// IE10 viewport hack for Surface/desktop Windows 8 bug
script(src='js/ie10-viewport-bug-workaround.js')
script(src='bower_components/jquery-Mustache/jquery.mustache.js')  
script(src='bower_components/mustache.js/mustache.js')
script(src='bower_components/stamplay-js-sdk/dist/stamplay.min.js')
script(src='bower_components/highlight/src/highlight.js')      
script(src='js/utils.min.js')
script(src='js/main.min.js')
