doctype html
html(lang='en')
  head
    include views/partials/header.jade
  body
    include views/partials/nav.jade
    .container
      // Example row of columns
      .row
        .col-md-12
          h2 Difficolt&agrave; Media

          p Qui ci sono gli esercizi di difficolt&agrave; media.
          hr
      .row
        #midOkDiv.col-md-12
      p
        include views/partials/footer.jade
  include views/partials/javascriptIncludes.jade
  script(src='js/mid.js')
