doctype html
html(lang='en')
  head
    include views/partials/header.jade
  body
    include views/partials/nav.jade
    .container
      // Example row of columns
      .row
        .col-md-12
          br
      .row
        .col-md-12
          h2 Risorse

          p Ecco un elenco di materiale utile per approfondire la propria conoscenza di Scala
          #resourcesList
          hr
      p
        include views/partials/footer.jade
  include views/partials/javascriptIncludes.jade
  script(src='js/resources.min.js')
